.header{
    margin: 20px auto;
}
.formulario, .codigos{
    display: flex;
    justify-content: center;
}
.codigos{
    width: 400px;
}
#calcular{
    width: 30%;
}

input{
    display: block;
}
input[type="submit"]{
    margin-top: 10px;
}
.resultado{
    padding: 20px;
    text-align: center;
}