.header{
    margin: 20px auto;
}
#zodiacoForm{
    width: 50%;
}

input{
    display: block;
}
input[type="submit"]{
    margin-top: 10px;
}
.resultado{
    padding: 20px;
    text-align: center;
}
.formulario{
    display: flex;
    justify-content: center;
}